body{
  background: #E7ECF2;
  font-family: Courier;
  padding: 2vw;
}
h1 {
}
  text-align:center;
.inp_mon {
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  width: 100px;
  text-align: right;
  padding: 10px;
}
.mon_code {
  margin-left: 5px;
}
.curr_select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #808080;
  font-size: 12px;
  font-weight: 600;
}
.cont {
  background: #fff;
  margin: auto;
  width: 80%;
  padding: 30px 15px;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(176,176,176,0.5);
  -moz-box-shadow: 4px 4px 10px 2px rgba(176,176,176,0.5);
  box-shadow: 4px 4px 10px 2px rgba(176,176,176,0.5);
}
.cont_row {
  text-align: center;
  margin: 8px auto; 
  
}
p {
  text-align:center;
}
#curr_rate {
  font-weight: 600;
  font-size: 18px;
  color: #757575;
  margin: 40px auto;
}
#today{
  font-size: 12px;
  margin: auto 25px -15px 25px;
  color: #b1b1b1;
}
a {
  text-decoration: none;
  color: inherit;
}